/* Стилі для усьго документа*/
html, body {
	margin: 0;
	padding: 0;
	font-family: Times, Arial;
}

/* Стилі для обгорток */
#mainWrapper {
	background-color: #403E4E;
	width: 100%;
}


#wrap {
	min-width: 1286px;
	max-width: 1600px;
	margin: 0 auto;
	background-color: white;
}

/* Стилі для header */
#header {
	background-color: #ffffff;
	min-height: 140px;

}

#nameGroup {
	margin-left: 120px;
	display: inline-block;
}

#nameGroup h1 {
	font-size: 2.9em; 
}

#nameGroup h4 {
	color: #B3B3B3;
	margin-top: -30px;
	
}

/* Стилі для menu */
#menu {
	float: right;
	font-size: 1.6em;
	margin: 30px 60px 0 0;
}

#menu ul {
	margin: 20px 0;
}

#menu ul li {
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
}

#menu ul li a {
	color: #a6a6a6;
}

 #menu ul li:hover {
	background-color: #2830AB;
}

#menu ul li a:hover {
	color: white;
}

/* */
#footerHeader {
	width: 100%;
	min-height: 90px;
	/* background-image: url("../images/contact.jpg");
	background-size: 100% 100%; */
	background-color: #2C17A5;

}
#aboutUsHeader {
	/*width: 220px; */
	float: left;
	margin: 0 0 0 5%;
}

#TextHeader {
	float: right;
	margin-right: 2%;
}

#aboutUsHeader h2 {
	color: white;
	font-size: 2.5em;
	margin: 20px 10px 15px 0;
}

#TextHeader p {
	color: white;
	font-size: 2em;
	margin-top: 25px;
}

/* */
#MainContent {
	background-color: white;
}

#wrapGoogleMap {
	width: 97%;
	height: 700px;
	padding: 12px;
	margin: 0 auto;
}

#map {
	height: 100%;
	width: 100%;
}

#content {
	background-color: white;
	width: 68%;
	min-height: 650px;
	float: left;
	margin: 0 10px 10px 10px;
	padding: 25px;
}

#TitleSubmitEmail {
	margin-left: 35px;
	font-size: 1.7em;
}
#TitleSubmitEmail h2 {
	margin: 5px 0;
}

/* */
#form {
	font-size: 1.8em;
	margin-left: 35px;
}

#userName, #emailAddress, #subject {
	width: 600px;
	height: 35px;
	margin-top: 10px;
	font-size: 0.9em;
	padding-left: 20px;
	outline: none;
}

#message {
	width: 600px;
	height: 250px;
	padding-left: 20px;
	font-size: 0.9em;
	outline: none;
}

#submit {
	margin-top: 10px;
	font-size: 0.9em;
	border-radius: 5px;
}

#submit:hover {
	color: white;
	background-color: black;
}

/* */
#RightSidebar {
	background-color: white;
	min-height: 680px;
	padding: 10px;
	float: right;
	width: 22%;
	margin: 0 10px 10px 10px;
}

#TextInform1, #TextInform2, #TextInform3 {
	padding: 10px;
	background-color: #CCCCCC;
}


#info1 h2 {
	font-size: 1.1em;
	margin-left: 8%;
}

#contactInf h2 {
	font-size: 1.1em;
	margin-left: 14%;
}

#conectWithUs h2 {
	font-size: 1.1em;
	margin-left: 24%;
}

#info12, #contactInfContinue, #conectWithUsInform {
	background-color: white;
	padding: 10px;
}

#info12 p, #contactInfContinue p {
	color: #B3B3B3;
	margin: 10px 0 10px 10px;
	font-size: 1.2em;
}

#TextInform1 {
	margin-top: 20px;
}

#TextInform2, #TextInform3 {
	margin-top: 30px;
}

#conectWith1, 
#conectWith2, 
#conectWith3 {
	float: left;
	margin-left: 12%;

}

#conectWith1 a img, 
#conectWith2 a img, 
#conectWith3 a img {
	width: 45px;
	height: 45px;

}



/* Загальні стилі */
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

/* Блок для ощощення від обтікання*/
.clear {
	clear: both;
}


/* Загальні footer */
#footer {
	position: relative;
	background-color: #ECECEC;
	min-height: 320px;
	min-width: 1286px;
	max-width: 1600px;
	margin: 0 auto;
}

#block1, #block2, #block3 {
	float: left;
	width: 28%;
	padding:10px;
	margin: 10px 0 10px 32px;
	min-height: 355px;
	/*border: 2px solid black;
	box-sizing: border-box; */
	font-size: 1.3em;
	position: relative;
}


#block1 ul li a, #block2 ul li a, #block3 ul li a {
	color: #A7A7A7;
} 


#block1 ul li a:hover, #block2 ul li a:hover, #block3 ul li a:hover {
	color: black;
}


.blocks_elements_footer ul li {
	margin-top: 15px;
}

.blocks_elements_footer h4 {
	color: #ff00d0;
	margin: 0;
}

.blocks_elements_footer p {
	margin: 10px;
	text-indent: 1em;
}


#block1 h3, #block2 h3, #block3 h3 {
	color: #585858;
}

#block1 h3 {
	margin-left: 40px;
}

#block3 h3 {
	margin-left: 10px;
}

#block1 p, #block2 p, #block3 p {
	color: #A7A7A7;
}


/* Стилі для кнопки(Читати далі...)*/
.continueRead {
	position: absolute;
	bottom: 20px;
	left: 70%;
	border: 0;
	min-height: 30px;
	border-radius: 5px;
}

.continueRead:hover {
	background-color: black;
	color: white;
}
/* Стилі для інформації про сайт*/
#information {
	height: 50px;
	border-top: 1px solid grey;
	padding: 10px;
}

#information p {
	font-size: 1.1em;
	margin: 10px 10px 10px 20px;
}

/* Стилі для соц-клавіш */
#socialNetworks {
	position: absolute;
	bottom: 10px;
	right: 0;
	width: 350px;
	height: 50px;
}

.share42init {
	margin-top: 10px;
}
