html, body {
    margin: 0;
    padding: 0;
}




#mainWrap {
    width: 1348px;
    margin: 0 auto;
    padding: 0;
}

.clear {
    clear: both;
}

ul {
    padding: 0;
}

/*header start*/
header {
    background: url("../img/header.png") no-repeat center top ;
    width: 100%;
    min-height: 500px;
    position: relative;
}


#pBank {
    margin-left: 30px;
}

.indicator {
    position: absolute;
    width: 180px;
    height: 1px;
}

#indicator1 {
    background-color: green;
    top: 180px;
    left: 380px;
}

#indicator2 {
    background-color: green;
    top: 230px;
    left: 350px;
}

#indicator3 {
    background-color: green;
    top: 280px;
    left: 300px;
}

.infoBank {
    position: absolute;
}

.infoBank p {
    margin: 0;
    font-size: 1.3em;
    font-family: "Comic Sans MS";
}

#info1 {
    top: 165px;
    left: 600px;
}

#info2 {
    top: 215px;
    left: 570px;
}

#info3 {
    top: 265px;
    left: 520px;
}

#nameBank {
    position: absolute;
    top: 430px;
    left: 50px;
    font-size: 1.2em;
    font-family: sans-serif;
}

#tree {
    position: absolute;
    top: 0;
    right: 0;
}

#treeImg {
    height: 550px;
    width: 450px;
}

/*header end*/

/*content start*/
#content {
    padding: 0;
    margin: 0;
}
/*content end*/

/*БЛОК 1*/
.block1 {
    width: 1348px;
    height: 350px;
    background: white;
    position: relative;
    padding: 30px 0 30px 0;
}

.price {
    height: 114.6666px;
    width: 449px;
    border: 1px solid white;
    font-size: 2em;
}

.price1 p {
    border: 3px solid #2ECC71;
    width: 200px;
    text-align: center;
    margin-left: 25px;
    color: #2ECC71;
}

.price2 p {
    border: 3px solid #F39C12;
    width: 250px;
    text-align: center;
    margin-left: 25px;
    color: #F39C12;
}

.price3 p {
    border: 3px solid #3598DB;
    width: 350px;
    text-align: center;
    margin-left: 25px;
    color: #3598DB
}

.plus {
    height: 300px;
    width: 300px;
    position: absolute;
    left: 450px;
    top: 50px;
}

.block1 h1 {
    float: right;
    color: #F39C12;
    font-size: 4.25em;
    margin: 90px 90px 0 0;
}
/*КІНЕЦЬ БЛОКУ 1*/


/*БЛОК 2*/
.block2 {
    background: url("../img/greenbg.png") no-repeat center top;
    width: 1348px;
    height: 650px;
    padding-top: 10px;
}

.block2 h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.5em;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.imagesgrid_item {
    width: 449px;
    height: 128px;
    margin-top: 40px;
}

.imagesgrid_item img {
    float: left;
}

.imagesgrid_item p {
    margin-top: 35px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
/*КІНЕЦЬ БЛОКУ 2*/

/*block4 start*/
#block4 {
    background-color: white;
    min-height: 300px;
    padding: 60px 120px;
    font-size: 1.3em;
    text-align: justify;
}

/*block4 end*/


/*block5 start*/
#block5 {
    background: url("../img/bg5.jpg") no-repeat center top;
    min-height: 700px;
    margin: 0;
    padding: 20px;
    position: relative;
}

#block5 h4 {
    margin: 0;
    text-align: center;
    font-size: 2em;
    font-family: "Comic Sans MS";
}

#imgReviews {
    position: absolute;
    left: 450px;
    top: 170px;
}

.coments {
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    position: absolute;
    padding: 20px;
    font-family: "Times New Roman";
}

.coments h6 {
    font-size: 1.1em;
    margin: 5px;
}

#coment1 {
    top: 100px;
    left: 50px;
}

#coment2 {
    top: 100px;
    right: 50px;
}

#coment3 {
    top: 390px;
    left: 50px;
}

#coment4 {
    top: 390px;
    right: 50px;
}

.photoUser {
    position: absolute;
}

.photoUser img {
    width: 70px;
    height: 50px;
    z-index: 10;
}

#userPhoto1 {
    top: 70px;
    left: 50px;
}

#userPhoto2 {
    top: 70px;
    right: 320px;
}

#userPhoto3 {
    top: 360px;
    left: 50px;
}

#userPhoto4 {
    top: 360px;
    right: 320px;
}

#buy a {
    position: absolute;
    top: 82%;
    left: 38%;
    font-size: 1.3em;
    padding: 20px 50px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}


/*block5 end*/


/*block6 start*/
#block6 {
    min-height: 500px;
}

#tittleOrder {
    margin: 30px auto;
    width: 320px;
}

#tittleOrder h6 {
    font-family: "Times New Roman";
    font-size: 3em;
    color: #3498DB;
    margin: 0;
}

#howOrder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}

.arrow {
    margin-top: 55px;
}

.order {
    color: #3498DB;
    text-align: center;
    font-size: 1.5em;
}

.textOrder {
    width: 200px;
}



/*block6 end*/


/*block 7 start*/
#block7 {
    background: url("../img/greenbg.png") no-repeat center top;
    min-height: 400px;
}

#blockImg {
    float: left;
}

#block7 img {
    width: 500px;
    height: 350px;
    margin: 25px 40px;

}

#ulBlock7 {
    float: right;
    margin: 100px 300px 0 0;

}

#ulBlock7 ul li {
    font-size: 1.5em;
    list-style: none;
    /*list-style-image: url("../img/markUL.png");*/
    background: url("../img/markUL.png") no-repeat; /* Параметры фона */
    padding-left: 40px; /* Смещаем текст вправо */
    margin: 7px;
}
/*block 7 end*/




/*footer start*/
footer {
    height: 50px;
    background-color: #34495E;
    padding: 5px 20px;
}
/*footer end*/


/*modal window*/
/* Стили для неактивного модального окна */
.modal {
    font-family: "Tahoma", "Geneva", "Kalimati", sans-serif;
    background: #3598DB;
    left: 65%;
    margin: -250px 0 0 -40%;
    position: fixed;
    top: -50%;
    width: 674px;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.25);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/* Активация модального окна в состоянии :target */
.modal:target {
    top: 50%;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.modal h2,h4 {
    text-align: center;
    color: white;
    font-family: "Tahoma", "Geneva", "Kalimati", sans-serif;
}
.modal .btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    text-decoration-line: none;
}
.modal .field{
    border: 1px solid white;
    margin: 15px 205px;
    border-radius: 7px;
    height: 25px;
    padding: 20px;
    font-size: 1.1em;
}
.modal #knopka{
    margin: 15px 280px;
    border:1px solid white;
    background: #3598DB;
    border-radius: 7px;
    height: 40px;
    font-size: 1.1em;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}
hr{
    color: white;
}
/*кінець модального вікна*/


